// COLORES
// ESQUEMA 1 

$white: #fff;
$platinum: #E8E8E8;
$Gray: #BABABA;

// ESQUEMA 2

$darkSalmon: #EE9480;
$melon: #F4BAAE;
$palePink: #FADFDA;

// ESQUEMA 3

$ballBlue: #2AB7CA;
$middleBlue: #77D1DD;
$blueLagoon: #B1E4EB;

// ESQUEMA 4

$onyx: #333745;
$spanishGray: #8F9199;
$lavenderGray: #C7C8CC;

// ESQUEMA 5

$raisingBlack: #221D23;
$Nickel: #726F73;
$silverChalice: #AEACAF;


// Typografia

$raleway: "raleway";
$open-sans: "open sans";

// Peso de fuente

$bold: 700;
$regular: 400;


// Tamaños de fuentes

$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$samll: 14px;
$x-small: 12px;

